*{
      margin: 0;
      padding: 0;
      font-family: 'DM Sans';
}


.main{
      width: 100%;
      max-width: 600px;
      height: 40vh;
      background-color: #f53b57;
      margin: 110px auto 30px;
      padding: 20px 40px 100px;
      border-radius: 10px;
      color: #ffffff;
      
}

.main h1{
      display: flex;
      align-items: center;
      justify-content: center;
}

.main h2{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 15px;
}

input{
      align-items: center;
      justify-content: center;
      margin-top: 20px;
      width: 50%;
      padding: 10px;
      margin-left: 23%;
      border-radius: 20px;
}

.msg{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 15px; 
}

img{
      height: 250px;
      width: 250px;
      margin-left: 30%;

}

button{
      align-items: center;
      justify-content: center;
      margin-top: 80px;
      width: 20%;
      padding: 10px;
      margin-left: 40%;
      border-radius: 10px;
}

.hidden{
      display: none;
}

.hiddengif{
      display: none;
}